<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <packageSources>
     <clear />
     <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
     <add key="PB22" value="https://gitlab.fis.vn/api/v4/groups/5659/-/packages/nuget/index.json" />
 </packageSources>
 <packageSourceCredentials>
     <PB22>
         <add key="Username" value="gitlab+deploy-token-139" />
         <add key="ClearTextPassword" value="LorgtbNjbxsehuMq6ujE" />
     </PB22>
 </packageSourceCredentials>
</configuration>